<div class="form-secretaria-cont">
    <h1 mat-dialog-title>Datos del Convenio</h1>
    <form class="form-secretaria" [formGroup]="formGroup">
        <div *ngFor="let index of lengthFirstForm">
            <mat-form-field appearance="fill">
                <mat-label>{{ titleForm[index] }}  (Solo lectura)</mat-label>
                <input matInput disabled [value]="getValueField(index)">
            </mat-form-field>
        </div>

        <div *ngFor="let index of lengthInfoForm">
            <mat-form-field appearance="fill">
                <mat-label>{{ titleInfoForm[index] }} (Solo lectura)</mat-label>
                <input matInput disabled [value]="getValueInfoField(index)">
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label> Estado Actual (Solo lectura)</mat-label>
            <input matInput disabled [value]="currentState">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Cambiar de Estado</mat-label>
            <mat-select [formControlName]="'estado'">
                <mat-option *ngFor="let opt of stateOptions" [value]="opt"> {{ opt }} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" [ngClass]="{ 'd-none': estadoAlias?.value !== options.Rechazado }">
            <mat-label> Observaciones (requerido)</mat-label>
            <input matInput [formControlName]="'observaciones'">
        </mat-form-field>
    </form>

    <div class="col-12 d-flex justify-content-center">
        <button class="mx-2" mat-raised-button (click)="dialogRef.close()">Cancelar</button>
        <button class="mx-2" [disabled]="formGroup.invalid" mat-raised-button (click)="save()">Guardar</button>
    </div>

</div>